* { 
    margin:0;
    padding:0;
    box-sizing: border-box;
}

header {
    width:100vw; 
    height:100vh; 
    margin:0;
    background-image: url('stg2.jpg');
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*Navigation Bar */
.NavBar {
    position: absolute;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between; 
    top: 0;
    background-color: transparent;
    padding: 20px;

}

.NavBar a {
    float:left; 
    text-align: center;
    font-size:22px; 
    font-family: 'Gill Sans';
    color: white;
    padding: 10px;
    text-decoration: double;

}

.NavBar a:hover {
    background-color: #505526;
    border-radius: 50px;
}

.logintitle{
    margin-left:auto;
    
}


.content {
    color: white; 
    font-size:4vmin; 
    text-align:center;
}


