* { 
    margin:0;
    padding:0;
    box-sizing: border-box;

}

.Movies_Title_Container {
    width:100%; 
    height:20vh; 
    background-image: url('stg2.jpg');
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.Movies_title {
    color: #ffffE4;
    font-size: 42px;
    margin-top: 10px;
}
.NavBar {
    position:absolute;
    display:flex;
    justify-content: right;
    top:0;
    background-color: transparent;
    padding: 20px;
}

.NavBar a {
    float:right; 
    font-size:22px; 
    font-family: 'Gill Sans';
    color: white;
    padding: 10px;
    text-decoration: double;
    text-align: right;
}

.NavBar a:hover {
    background-color: #505526;
}

.Genre {
    color:#505526;
    margin-top:20px;
    margin-bottom: 0;
    margin-left: 25px;
}

body {
    background-color: white;
    text-decoration: underline;
}

.Movie_card {
    box-shadow:0 2px 4px 0 darkgray; 
    width:calc(200px - 25px);
    height:fit-content;
    float: center;
    margin:10px;
    text-align: center;

}
.Genre_Container{
    width:100%; 
    min-height:100vh; 
    padding:20px;
    display:flex;
    align-items:center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 0;
    margin-bottom: 0;
}
.Movie_card:hover {
    box-shadow:0 4px 8px 0 darkgray;

}

.Action1 {
    width:100%; 
    height:15%;


}
.container1{
    padding:2px 16px;
}





