/*Whole form section*/
* { 
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/*styles the body section*/
body { 
    background-color:white;
    overflow-y: auto;
}

/*styles the header section*/
.Watchlist_Container {
    width:100%;  
    margin:0;
    height: 40vh;
    background-image: url('stg2.jpg');
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

    
}


.Watchlist_title {
    color: #ffffE4;
    font-size: 42px;
    margin-top: 30px;
    
}


/*Navigation Bar */
.NavBar {
    position: absolute;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between; 
    top: 0;
    background-color: transparent;
    padding: 20px;

}
.NavBar a {
    float:left; 
    font-size:22px; 
    font-family: 'Gill Sans';
    color: white;
    padding: 10px;
    text-decoration: double;
    text-align: right;
}

.NavBar a:hover {
    background-color: #505526;
    border-radius: 50px;
}

.logintitle{
    margin-left:auto;
    
}

.Logo {
    width:100px;
    height:100px;
    margin-right:50px;
}

/*styles the form */
.form_Container{
    background:white; 
    display:flex; 
    justify-content: center;
    width:100%; 
    align-items: center;

}

form {
    background-color:#505526; 
    padding:2vw 4vw;
    width:90%;
    max-width: 600px;
    border-radius: 8px;
    text-align: left;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    
}

label {
    margin-top: 10px; 
}


.Movie_Name{
    font-size: 42px;
    color:#ffffE4;
    margin-top:5px;
}

.Priority{
    font-size: 30px;
    color:#ffffE4;
    margin-top:10px;
}

.Add_Note {
    font-size: 30px;
    color:#ffffE4;
}

form input,form textarea {
    padding:20px; 
    margin-top: 15px;
    border-radius: 4px;
    border:1px solid;
    background: white;
}


button {
    margin-top: 10px;
    cursor:pointer;
    padding: 10px;
    border: none;
    border-radius: 4px;

}

#Movielist {
    margin-top:20px;
}

.list_title{
    color:#ffffE4;
    font-size: 50px;
    display:flex; 
    justify-content: center;
    text-align: center;
    margin-top: 15px;

}

.Movie-item{ 
    background-color: white;
    color:#505526;
    box-shadow: 0 2px 4px black;
    padding:10px; 
    margin-bottom:5px; 
    border-radius: 4px;
}

select {
    font-family:'Gill Sans' ;
    padding:10px;
    margin-top:15px;
    margin-bottom:10px;
}

/*Delete icon */
.DeleteBtn{
    color:#963939;
}

/*Edit icon */
.EditBtn {
    color:#505526;
}

/*sort icon styling */
.Sort_Container{
    display:flex;
    justify-content: right;
}

