* { 
    margin:0;
    padding:0;
    box-sizing: border-box;
    overflow-y:auto;
}

body{
    display:flex; 
    justify-content: center;
}

.Watchlist_Container {
    width:100%;  
    height: 40vh;
    background-image: url('stg2.jpg');
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

    
}


.form_Container{
    background-color:#505526; 
    padding:10px;
    max-width: 400px;
    margin-top:20px;
    min-width:200px;
    border-radius: 6px;
    margin-top:300px;
}

.Watchlist_title {
    color: #ffffE4;
    font-size: 42px;
    margin-top: 30px;
    
}
.NavBar {
    position:absolute;
    display:flex;
    justify-content: right;
    top:0;
    background-color: transparent;
    padding: 20px;
}

.NavBar a {
    float:right; 
    font-size:22px; 
    font-family: 'Gill Sans';
    color: white;
    padding: 10px;
    text-decoration: double;
    text-align: right;
}

.NavBar a:hover {
    background-color: #505526;
}

form {
    padding:5%;
    text-align: left;
    display: flex;
    flex-direction: column;
    
}

label {
    margin-top: 10px; 


}

.Movie_Name{
    font-size: 42px;
    color:#ffffE4;
    margin-top:5px;
}

.input,textarea {
    padding:8px; 
    margin-top: 15px;
    border-radius: 4px;
    border:1px solid;


}


button {
    margin-top: 10px;
    padding: 10px;
    border: none;
    border-radius: 4px;

}

#Watchlist {
    margin-top:20px;
}

.Movie_Name {
    padding:20px;
    margin:20px;
    
}