* { 
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    background-color:white;
    overflow-y: auto;
}


.Watchlist_Container {
    width:100%;  
    margin:0;
    height: 40vh;
    background-image: url('stg2.jpg');
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

    
}


.form_Container{
    background:white; 
    display:flex; 
    justify-content: center;
    width:100%; 

    align-items: center;

}

.Watchlist_title {
    color: #ffffE4;
    font-size: 42px;
    margin-top: 30px;
    
}
.NavBar {
    position:absolute;
    display:flex;
    justify-content: right;
    top:0;
    background-color: transparent;
    padding: 20px;
}

.NavBar a {
    float:right; 
    font-size:22px; 
    font-family: 'Gill Sans';
    color: white;
    padding: 10px;
    text-decoration: double;
    text-align: right;
}

.NavBar a:hover {
    background-color: #505526;
}

form {
    background-color:#505526; 
    padding:2vw 4vw;
    width:90%;
    max-width: 600px;
    border-radius: 8px;
    text-align: left;
    display: flex;
    flex-direction: column;
    
}

label {
    margin-top: 10px; 



}

.Movie_Name{
    font-size: 42px;
    color:#ffffE4;
    margin-top:5px;
}

.Add_Note {
    font-size: 30px;
    color:#ffffE4;
}
 form input,form textarea {

    padding:20px; 
    margin-top: 15px;
    border-radius: 4px;
    border:1px solid;
    background: gainsboro;


}


button {
    margin-top: 10px;
    cursor:pointer;
    padding: 10px;
    border: none;
    border-radius: 4px;

}

#list {
    margin-top:20px;
}
.list_title{
    color:#ffffE4;
    font-size: 50px;
    display:flex; 
    justify-content: center;
    text-align: center;
    margin-top: 8%;

}

.Movie_item{ 
    padding:10px; 
    margin-bottom:10px; 
    border-radius: 4px;
}